*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: $font-family-base;
  font-size: 17px;
  line-height: normal;
  color: var(--body-text-color);
  background: var(--body-background-color);
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  @include font('base');

  width: 100%;
  padding-top: $header-height;
  margin: 0;
  color: var(--body-text-color);
  background: var(--body-background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  background-color: transparent;
  color: currentColor;
  text-decoration: none;
}

strong {
  font-weight: bold;
  font-family: $font-family-base;
}

img {
  border-style: none;
  vertical-align: middle;
}

br {
  margin-top: 0;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

address {
  font-style: normal;
}

button {
  border-radius: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

hr {
  margin: 1.5em 0;
  border-width: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  min-width: 0;
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

svg:not(:root) {
  overflow: hidden;
}
