// ======================================================
// Logo
// ======================================================

@import '../../styles/variables';
@import '../../styles/mixins';

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: $logo-width;
  height: 100%;
  margin-left: -10px;
  margin-right: auto;
  border-right: 5px solid var(--brand-secondary-color);
  background-color: var(--brand-primary-color);
  transform: skewX(-14deg);

  svg {
    transform: scale(1) skewX(14deg);
    transition: transform 150ms;
  }

  &:hover svg {
    transform: scale(1.045) skewX(14deg);
  }
}

.title {
  @include sr-only;
}
