// ======================================================
// Call To Action
// ======================================================

@import '../../styles/variables';

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 595px;
  border-bottom: 7px solid var(--brand-secondary-color);
  background: url('/static/images/call-to-action-bg.jpg') 50% 50% / cover no-repeat;
  text-align: center;

  h2 {
    color: #fff;
    margin-bottom: 40px;
  }
}
