// ======================================================
// Header
// ======================================================

@import '../../styles/variables';

.header {
  position: fixed;
  z-index: $z-index-fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: $header-height;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);

  // Invisible box to counter the logo, therefore centering the nav bar
  &:after {
    content: '';
    width: $logo-width;
    margin-left: auto;
  }
}
