// ======================================================
// Banner
// ======================================================

@import '../../styles/variables';

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 420px;
  background: url('/static/images/banner-bg.jpg') 50% 50% / cover no-repeat;
  text-align: center;

  h1 {
    color: #fff;
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 28px;
  margin: 0 auto;
  background-color: var(--brand-secondary-color);
  font-family: $font-family-heading;
  font-size: px-to-rem(14);
  font-weight: 900;
  font-style: italic;
  color: var(--heading-text-color);
  text-transform: uppercase;
  transform: skewX(-14deg);

  span {
    transform: skewX(14deg);
  }
}
